{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    {% for place in info %}
    <div class="col s12 m4">
        <div class="card fixed-card-height">
            <div class="card-image">
                <img src="{{ place['img'] }}" class="card-img">
                <span class="card-title">{{ place['name'] }}</span>
            </div>
            <div class="card-content truncate-text">
                <p>{{ place['information'] }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('place.go_place', place_id=place['id']) }}">Ver más</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}