{%extends 'layouts/base.html' %}

{%block title%}Test{%endblock%}

{%block content%}
<h1>Where would you like to go?</h1>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">airplanemode_active</i>
                        <input type="text" id="origin" class="origin_autocomplete" required>
                        <label for="origin">Origin</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">assistant_photo</i>
                        <input type="text" id="destiny" class="destiny_autocomplete" required>
                        <label for="destiny">Destiny</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" id="date" class="datepicker" required>
                <label for="date">Start date</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input type="text" id="date" class="datepicker" required>
                <label for="date">Finish date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="guest" type="number" class="validate" min="1" max="15" required>
                <label for="guest">Guest</label>
            </div>
        </div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{%endblock%}